/Java-Tugas-Metrodatax/nbproject/private/
/Java-Tugas-Metrodata/nbproject/private/
/Java-Tugas-Metrodata/build/
/Java-Tugas-Kelompok-Metrodata/nbproject/private/
/nbproject/private/
/Segment-Satu/Tugas1/nbproject/private/
/segment-satu/Tugas1/nbproject/private/
